body { 
  background-image: url("background.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
	width:600px;
	height:300px;
}